/*
Version: 1.0
Description: Written by <a href="https://profiles.wordpress.org/kenshino/">Jon Ang</a>.
Author: Jon Ang
Author URI: https://lordjon.com/
Tags: wordcamp, singapore
*/

.home .site-title,
.home .site-description {
    	display: none;
}

.custom-header{
    	background: url('https://2017.singapore.wordcamp.org/files/2017/05/wordcamp_banner_0529_mobile.jpg') no-repeat;
}

.wp-custom-header{
    	display: none;
}

thead th {
	text-align: center;
}

/* Schedule */

.wcpt-schedule > thead{
	background-color: #111;
	font-size: 1.2rem;
	color: #eee;
	font-variant: small-caps;
}

.wcpt-schedule a{
	box-shadow: none;
	color: #111;
}

.wcpt-col-time {
	width: 5rem;
}

td.wcpt-time {
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

tr.global-session > td{
	text-align: center;
}

td.wcpt-session-type-custom {
	color: #777;
}

td.wcpt-session-type-session {
	font-weight: bold;
}

.wcpt-session-speakers {
	color: #111;
	font-weight: normal;
	font-style: italic;
	display: block;
}

#tix-attendees .tix-columns-3 li{
	width: 48%;
}

#tix-attendees li {
    height: 165px;
    text-align: center;
}

#tix-attendees .tix-field {
    display: block;
    width: 100%;
    margin-left: 0;
    box-shadow: 0 0;
}

#tix-attendees .tix-attendee-name {
    margin-bottom: 0;
    clear: both;
    margin-top: 10px;
}

#tix-attendees .avatar {
    float: none;
    width: 100px;
    height: 100px;
    clear: both;
    text-align: center;
    position: relative;
}

.tix-field.tix-twitter-handle::before {
    content: "\f301";
    font-family: dashicons;
    position: relative;
    top: 2px;
}

@media only screen and (min-width: 767px) {
	body:not(.has-sidebar):not(.page-one-column) 
	.page-header, body.has-sidebar.error404 #primary .page-header, 
	body.page-two-column:not(.archive) #primary .entry-header, 
	body.page-two-column.archive:not(.has-sidebar) #primary .page-header{
		width: 26%;
	}
	
	.blog:not(.has-sidebar) #primary article, 
	.archive:not(.page-one-column):not(.has-sidebar) #primary article, 
	.search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, 
	.error404.has-sidebar #primary .page-content, 
	body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments{
		width: 68%;
	}
	
	.custom-header{
	background: none;
	}

	.wp-custom-header{
	display: block;
	}

	.wcorg-organizer {
		float: left;
		width: 50%;
	}

}
